/*
Autores: Agustina Velazquez
         Andreina Romero
         Eleonora Roux
         Vilma Ponce
Fecha: 19/03/2024
Curso: Full Stack NodeJS - Comision 24123
Profesor: Fernando Lucena
Descripcion: este archivo CSS contiene los estilos para el sitio web del Instituto Luminova
*/

/* Reglas universales */

:root {
    --color-primario: rgb(43, 139, 223);
    --color-secundario: #e91e63;
    --color-terciario: #303030;
    --color-cuaternario: #f2f2f2;
    --color-slide: rgba(255, 255, 255, 0.5);
    --color-nav: #0B3D91;
    --bg-oscuro: #171717;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1em;
    height: .5em;
}

/* Carril del scroll */
::-webkit-scrollbar-track {
    background-color: var(--color-terciario);
}

/* Almohadilla del scroll */
::-webkit-scrollbar-thumb {
    background-color: var(--color-primario);
    border-radius: 5em;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto Slab", serif;
}

body {
    min-height: 100vh;
    padding: 5.4em 0 0;
    /*estos espacios hacen que no se superponga con el próximo bloque, asi queda flotando*/
    background-color: var(--color-cuaternario);
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    height: auto;
    flex: 1;
    margin-top: 2.6em;
    background: linear-gradient(to right top, #0000008a, #0000008a), url('../img/school.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/************************* Navbar **************************/

.header {
    background-color: var(--color-nav);
    height: 14vh;
    /*altura fija de la barra de navegación*/
    width: 100vw;
    /*ancho, 100% de la pagina*/
    position: fixed;
    /*barra de navegación fija=fixed arriba, queda como flotando*/
    top: 0;
    /*siempre va a estar fijada a la ventana donde nos encontremos en la punta izquierda*/
    left: 0;
    z-index: 1;
}

.nav {
    display: flex;
    /*así hago que se separen los bloques del menu por un lado el logo y por el otro el menu*/
    justify-content: space-between;
    /*acá les digo que tengan espacio entre ellos*/
    max-width: 1100px;
    /*es un breakpoint para que no se alargue a toda la pantalla el menu y quede mas centrado en paginas anchas*/
    margin: 0 auto;

}

/*estilos a todos los links*/
.nav-link {
    color: var(--color-cuaternario);
    text-decoration: none;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.nav .nav-link img {
    height: 10vh;
    margin-top: 0.8rem;

}

/*formato del estilo de la caja del menu*/
.nav-menu {
    display: flex;
    /*así hago todos los elementos del elemento del menú queden en fila, en forma horizontal por defecto*/
    margin-right: 1rem;
    list-style: none;
    /*elimino los puntos de la lista*/
}

/*formato del estilo del link del menu*/
.nav-menu-item {
    font-size: 1rem;
    line-height: 15vh;
    text-transform: uppercase;
    /*todo el texto en mayúscula*/
    width: max-content;
    /*para que no corte el texto de lo que tenga el link, porque si son dos palabras elimina una al achicarlo*/
    margin: 0 .6rem;
    /*el espacio entre cada palabra del menu*/
}

.nav-menu-link {
    padding: .5rem .7rem;
    transition: all .7s ease;
}

.nav-menu-item.dropdown {
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-content {
    position: absolute;
    top: 73px;
    background-color: var(--color-primario);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 160px;
    z-index: 1;
    opacity: 0;
    transition: all .7s ease;
}

.dropdown-content li {
    list-style: none;
}

.dropdown-content a {
    font-size: .8em;
    color: var(--color-cuaternario);
    height: 3em;
    padding: 12px 16px;
    line-height: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all .3s ease;
}

.nav-menu-link:hover {
    border-radius: 5px;
    font-weight: 700;
    background-color: var(--color-primario);
}

.dropdown-content a:hover {
    color: var(--color-nav);
    font-weight: 700;
}

/*estilos del boton hamburguesa*/
.nav-toggle {
    color: var(--color-cuaternario);
    background: none;
    border: none;
    font-size: 1.6rem;
    padding: 0 1.2rem;
    line-height: 10vh;
    cursor: pointer;
    display: none;
    /*para que no se vea en dispositivios grandes*/

}

/************************************************** Form de Iniciar Sesion *************************************************/
.contentLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4em auto;
    padding: 40px;
    /* Hace que el ancho se adapte al contenido */
    width: fit-content;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    background: var(--color-primario);
    color: var(--color-cuaternario);
}

.contentLogin .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.contentLogin .form .inputLabel {
    display: flex;
    gap: 25px;
}

.contentLogin .form h2 {
    font-weight: 500;
    letter-spacing: 0.1em;
    font-family: "Roboto Slab", serif;
}

.contentLogin .form .inputBox,
.input {
    position: relative;
    width: 300px;
}

.contentLogin .form .inputBox input,
.contentLogin .form .inputBox select,
.input__field {
    padding: 12px 10px 12px 48px;
    border: none;
    width: 100%;
    background: #0b3c9151;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--color-cuaternario);
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.233),
        5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: all .5s ease;
    outline: none;
}

.contentLogin .form .inputBox span,
.contentLogin .form .inputBox label {
    position: absolute;
    left: 5px;
    padding: 12px 10px 12px 48px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Nunito", sans-serif;
    transition: all .5s ease;
}

.input__label {
    position: absolute;
    top: 0;
    left: 45px;
    color: rgba(255, 255, 255, 0.5);
    transform: translate(10px, 10px);
    transform-origin: left;
}

.contentLogin .form .inputBox input:valid~span,
.contentLogin .form .inputBox input:focus~span,
.input__field:focus-visible~.input__label,
.input__field:valid~.input__label {
    display: none;
}

.contentLogin .form .inputBox input:valid,
.contentLogin .form .inputBox input:focus {
    border: 1px solid #0b3c91aa;
}

.contentLogin .form .inputBox i,
.input i {
    position: absolute;
    top: 10px;
    left: 16px;
    padding: 2px 0;
    padding-right: 8px;
    color: var(--color-cuaternario);
    font-size: 19px;
    line-height: 25px;
    border-right: 1px solid var(--color-primario);
}

.contentLogin .form .inputBox input[type="submit"] {
    background: var(--color-nav);
    color: var(--color-cuaternario);
    padding: 10px 0;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: all .3s ease;
}

.contentLogin .form .inputBox input[type="date"] ~ span {
    opacity: 0;
}

.contentLogin .form .inputBox input[type="submit"]:hover {
    transform: scale(1.05);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(0, 0, 0, 0.35),
        inset 5px 5px 15px rgba(255, 255, 255, 0.1);
}

.contentLogin .form p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.75em;
    font-weight: 300;
}

.contentLogin .form p a {
    font-weight: 500;
    color: var(--color-nav);
}

.contentLogin .form .inputLabel .input .eye-icon-wrapper {
    position: absolute;
    top: 0;
    right: 15%;
    cursor: pointer;
}

.contentLogin .form .inputLabel .input i.eye-icon {
    color: var(--color-cuaternario);
    font-size: 15px;
    border: none;
}

.contentLogin .form .inputLabel .input i.eye-icon:hover {
    color: var(--color-nav);
}

.password-modal {
    position: absolute;
    left: 16%;
    top: 71%;
    background: var(--color-cuaternario);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    color: var(--bg-oscuro);
}

.requirement {
    list-style: none;
    margin-bottom: 0.5rem;
}

.requirement.checked::before {
    content: '✔ ';
    color: green;
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar {
    height: 10px;
    background-color: red;
    width: 0%;
}

.error-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-cuaternario);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

#error-message {
    margin-bottom: 1rem;
}

#error-modal button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

#error-modal button:hover {
    background-color: #0056b3;
}

/************************************************** Footer *************************************************/
#footer-content {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-terciario);
}

.footer-container {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    gap: 2em;
}

.footer-info {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;

    padding: 1.5em;
    background-color: var(--bg-oscuro);
}

.attention-info h5 {
    font-size: 1.3em;
}

.logo-link {
    margin-left: 5em;
}

.logo-link a img {
    border-radius: 50%;
    width: 12em;
}

.address-info a,
.attention-info {
    display: flex;
    flex-direction: row;
    gap: .6em;
    font-size: 1em;

    text-decoration: none;
    color: var(--color-primario);
}

.attention-info {
    height: 6em;
}

.address-info-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-info i,
.attention-info i {
    font-size: 2em;
}

.copy-footer {
    text-align: center;
    color: var(--color-cuaternario);
}

/***************************************** Media Queries ********************************************/
@media (max-width: 767px) {
    main {
        margin-top: -0.5em;
    }

    .contentLogin .form .inputLabel {
        flex-direction: column;
    }

    footer {
        top: 1em;
    }

    /************************ Navbar *********/
    .header {
        width: 100vw;
        height: 10vh;
        padding-left: 1rem;
    }

    .nav .nav-link img {
        height: 7vh;
        margin-top: 0.5rem;
    }

    /*formato del estilo de la caja del menu*/
    .nav-menu {
        flex-direction: column;
        /*ya esta en flex, pero es automatico que sea horizontal, asi le digo en columna;*/
        align-items: center;
        background-color: var(--color-nav);
        position: fixed;
        margin-top: 1em;
        /*la posicion depende de la ventana donde se encuentra*/
        left: 0;
        top: 2vh;
        /*con respecto al nav*/
        width: 100%;
        padding: 1rem 0;
        height: calc(100%-1rem);
        /*es un calculo para que se adapte a la ventana y que haya un scroll en el caso que el dispositivo sea muy chico*/
        overflow-y: auto;
        /*para que agregue la barra al costado cuando la necesite sino no*/
        left: 100%;
        transition: left 0.3s;
    }

    /*formato del estilo del link del menu*/
    .nav-menu-item {
        line-height: 6vh;
    }

    .nav-menu-link:hover {
        /*para cuando esta activo quede con ese color el link*/
        background: var(--color-primario);

    }

    .nav-toggle {
        display: block;
        /*para que aparezca la hamburguesa*/
    }

    .nav-menu_visible {
        left: 0;
        top: 7vh;

    }

    .contentLogin .form .inputBox input[type="date"] ~ span {
        opacity: 1;
    }
    /*********************************** Footer ***************************************/
    #footer-content {
        width: 100%;
        background-color: var(--color-terciario);
    }

    .footer-access {
        display: flex;
        flex-direction: row wrap;
        justify-content: center;
        align-items: center;

        margin-top: .5em;
        padding: 1em;
        gap: 1.5em;
    }

    .footer-link a {
        gap: 1;
        padding: 1em;
    }

    .footer-info {
        flex-direction: column;
        align-items: self-start;
        gap: 1.5em;

        padding: 1.5em;
    }

    .logo-link {
        margin: 0em auto;
    }

    .address-info a,
    .attention-info {
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 883px) {
    main {
        margin-top: -.2em;
    }

    /************************ Navbar *********/
    .header {
        width: 100vw;
        height: 10vh;
        padding-left: 1rem;
    }

    .nav .nav-link img {
        height: 7vh;
        margin-top: 0.5rem;
    }

    /*formato del estilo de la caja del menu*/
    .nav-menu {
        flex-direction: column;
        /*ya esta en flex, pero es automatico que sea horizontal, asi le digo en columna;*/
        align-items: center;
        background-color: var(--color-nav);
        position: fixed;
        margin-top: 1em;
        /*la posicion depende de la ventana donde se encuentra*/
        left: 0;
        top: 2vh;
        /*con respecto al nav*/
        width: 100%;
        padding: 1rem 0;
        height: calc(100%-1rem);
        /*es un calculo para que se adapte a la ventana y que haya un scroll en el caso que el dispositivo sea muy chico*/
        overflow-y: auto;
        /*para que agregue la barra al costado cuando la necesite sino no*/
        left: 100%;
        transition: left 0.3s;
    }

    /*formato del estilo del link del menu*/
    .nav-menu-item {
        line-height: 6vh;
    }

    .nav-menu-link:hover {
        /*para cuando esta activo quede con ese color el link*/
        background: var(--color-primario);

    }

    .nav-toggle {
        display: block;
        /*para que aparezca la hamburguesa*/
    }

    .nav-menu_visible {
        left: 0;
        top: 7vh;

    }

    /*********************************** Footer ***************************************/
    .footer-info {
        gap: 2em;
    }

    .logo-link {
        margin-left: 0em;
    }

    .logo-link img {
        width: 15em;
    }

    .attention-info {
        height: 7em;
        margin-bottom: .5em;
    }

    .copy-footer {
        font-size: 1.1em;
        padding: .5em;
    }
}